:root {
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text coloros*/
  --accent-cl: #ff6c00;
  --white-cl: #ffffff;
  --main-text-cl: #555;
  --btn-mode-light-cl: #303030;
  --secondary-text_cl: rgba(157, 164, 189, 0.6);

  /* bacground coloros*/
  /* --main-bg-cl:; */
  --secondary-bg-cl: #f7f7f7;
  --dark-bg-cl: #191c26;
  --black-bg-cl: #111319;

  /* grid net */
  --items: 1;
  --indent: 30px;
} 
