html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  // width: 100%;
  // max-width: 100%;
}

body {
  overflow-x: hidden;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.86; /* 185.714% */
  letter-spacing: 0.28px;

  color: var(--main-text-cl);
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
  
  @include mq(tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include mq(desktop) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
