/* 
================================
| Benefits
================================
*/

.benefits__container {
  display: flex;

  @include mq(mobile-only) {
    flex-direction: column-reverse;
  }

  @include mq(tablet-only) {
    flex-direction: column-reverse;
  }
}

.benefits__list {
  @include mq(desktop) {
    margin-right: 130px;
  }
}

.benefits__wrapper {
  display: flex;
  @include mq(mobile-only) {
    align-items: center;
    justify-content: center;
  }

  @include mq(tablet-only) {
    justify-content: flex-end;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.benefits__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 170px;
  height: 133px;
  

  background-color: #f7f7f7;

}

.benefits__item:not(:last-child){
  margin-right: 30px;
}

.benefits__amount {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;

  color: var(--btn-mode-light-cl);
}

.benefits__amount-color {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;

  color: var(--accent-cl);
}

.benefits__text {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;

  color: var(--btn-mode-light-cl);
}

.benefits__gruop {
  margin-bottom: 44px;
  // width: 500px;

  @include mq(mobile-only) {
    // width: 418px;
  }
}

.benefits__uppertitle {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: var(--btn-mode-light-cl);

  &::before {
    content: '';
    display: block;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background-color: var(--btn-mode-light-cl);
  }
}

.benefits__titel {
  font-family: var(--secondary-font);
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;

  margin-bottom: 20px;

  color: var(--btn-mode-light-cl);
}

.benefits__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;

  color: var(--main-text-cl);
}
