/* 
================================
| Contacts
================================
*/

.contacts {
  background-color: var(--dark-bg-cl);

  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  background-size: contain;
  background-repeat: no-repeat;

  background-image: url('../images/contacts_images/contacts-1_mb.png');
  background-position: 50% bottom;

  @include mq(retina) {
    background-image: url('../images/contacts_images/contacts-1_mb@2x.png');
  }

  @include mq(tablet) {
    background-image: url('../images/contacts_images/contacts-1_tb.png');

    @include mq(retina) {
      background-image: url('../images/contacts_images/contacts-1_tb@2x.png');
    }
  }

  @include mq(desktop) {
    height: 634px;
    background-image: url('../images/contacts_images/contacts-1_ds.png');
    background-position: top left calc(50% + 390px);

    @include mq(retina) {
      background-image: url('../images/contacts_images/contacts-1_ds@2x.png');
    }
  }
}

.contacts__container {
  @include mq(desktop) {
    display: flex;
    align-items: baseline;
  }
}

.contacts__left-side {
  @include mq(mobile-only) {
    margin-bottom: 168px;
  }

  @include mq(tablet-only) {
    height: 521px;
  }

  @include mq(desktop) {
    width: 570px;
    margin-right: 130px;
  }
}

.contacts__left-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;

  margin-bottom: 44px;

  color: var(--white-cl);

  @include mq(mobile-only) {
    text-align: center;
  }
}

.contacts__form {
  display: flex;
  flex-direction: column;
}

.contacts__form-wrapper {
  margin-bottom: 44px;

  @include mq(desktop) {
    display: flex;
    align-items: center;
  }
}

.contacts__form-wrapper .contacts__form-group {
  position: relative;
  padding-top: 20px;
}

.contacts__form-wrapper .contacts__form-group:not(:last-child) {
  @include mq(desktop) {
    margin-right: 30px;
  }
}

.contacts__form-group {
  @include mq(desktop) {
    display: flex;
    flex-direction: column;
  }
}

.contacts__form-group:not(:last-child) {
  @include mq(mobile-only) {
    display: block;
    margin-bottom: 44px;
  }

  @include mq(tablet-only) {
    margin-right: 26px;
  }
}

.contacts__form-label {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);

  transform: translateY(20px);
  transition: transform 400ms ease-in-out;
}

.contacts__form-input:focus + .contacts__form-label,
.contacts__form-input:not(:placeholder-shown) + .contacts__form-label {
  color: var(--white-cl);
  transform: translateY(0px);
}

.contacts__form-btn {
  display: flex;
  justify-content: center;
}

.contacts__form-input {
  padding: 5px;

  @include mq(tablet-only) {
    width: 330px;
  }
}

.contacts__form-input,
.contacts__form-message {
  background-color: transparent;
  border: none;
  resize: none;
  outline: transparent;

  color: var(--white-cl);

  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  transition: border-bottom 400ms ease-in-out;

  @include mq(mobile-only) {
    width: 100%;
  }

  @include mq(desktop) {
    width: 270px;
  }
}

.contacts__form-input:focus,
.contacts__form-message:focus {
  border-bottom: 1px solid var(--white-cl);
}

.contacts__form-input::placeholder {
  opacity: 0;
}

.contacts__form-message-group {
  position: relative;
  padding-top: 25px;
  margin-bottom: 44px;
}

.contacts__form-message {
  width: 100%;
  padding: 5px;

  &::placeholder {
    opacity: 0;
  }
}

.contacts__form-message:focus + .contacts__form-label,
.contacts__form-message:not(:placeholder-shown) + .contacts__form-label {
  color: var(--white-cl);
  transform: translateY(-10px);
}

.contacts__right-side {
  @include mq(tablet-only) {
    display: flex;

    flex-direction: column;
    // height: 448px;
  }

  @include mq(desktop) {
    display: flex;
    flex-direction: column;
  }
}

.contacts__right-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;

  margin-bottom: 40px;

  color: var(--white-cl);

  @include mq(mobile-only) {
    text-align: center;
  }
}

.contacts__right-wrapper {
  @include mq(tablet-only) {
    display: flex;
  }
}

.contacts__right-address {
  @include mq(mobile-only) {
    margin-bottom: 44px;
  }

  @include mq(tablet-only) {
    margin-right: 150px;
  }
}

.contacts__right-subtitle {
  display: flex;
  flex-direction: column;
}

.contacts__link {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:last-child {
    @include mq(desktop) {
      margin-bottom: 70px;
    }
  }
}

.contacts__icon {
  fill: #9da4bd;

  margin-right: 16px;
}

.contacts__link-item {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;

  text-decoration: none;
  color: #9da4bd;
}

.contacts__subtitle {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: var(--white-cl);

  // @include mq(desktop){
  //     justify-content: center;
  // }
}

.contacts__subtitle::before {
  content: '';
  display: block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);
}

.contacts__schedule {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;

  color: #9da4bd;
}
