/* 
================================
| Price
================================
*/
.price {
  // background-color: var(--black-bg-cl);

  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  background-image: url(/images/price_imeges/price-1_mb.png),
    linear-gradient(to bottom, #111319, #111319);

  @include mq(retina) {
    background-image: url(/images/price_imeges/price-2_mb@2x.png),
      linear-gradient(to bottom, #111319, #111319);
  }

  @include mq(tablet) {
    background-image: url(/images/price_imeges/price-1_tb.png),
      linear-gradient(to bottom, #111319, #111319);

    @include mq(retina) {
      background-image: url(/images/price_imeges/price-2_tb@2x.png),
        linear-gradient(to bottom, #111319, #111319);
    }
  }

  @include mq(desktop) {
    background-image: url(/images/price_imeges/price-1_ds.png),
      linear-gradient(to bottom, #111319, #111319);

    @include mq(retina) {
      background-image: url(/images/price_imeges/price-2_ds@2x.png),
        linear-gradient(to bottom, #111319, #111319);
    }
  }

  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
}

.price__uppertitle {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: var(--secondary-text_cl);

  &::before {
    content: '';
    display: block;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background-color: var(--secondary-text_cl);
  }
}

.price .price__titel {
  @include mq(mobile-only) {
    font-size: 40px;
  }
  font-family: var(--secondary-font);
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;

  margin-bottom: 44px;

  color: var(--white-cl);
}

.price__list {
  @include mq(mobile-only) {
    // width: 418px;
    height: 360px;
    margin-bottom: 44px;
  }

  @include mq(tablet-only) {
    width: 702px;
    height: 444px;
  }

  @include mq(desktop) {
    display: flex;
    align-items: center;
  }
}

.price__item {
  @include mq(desktop) {
    width: 570px;
    height: 240px;

    margin-bottom: 56px;

    transition: transform 400ms ease-in;
  }

  &:first-child {
    @include mq(desktop) {
      background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);

      transform-origin: left;
      transform: rotateX(7deg) rotateY(25deg);
    }
  }

  &:first-child:hover {
    @include mq(desktop) {
      transform: rotateX(0deg) rotateY(5deg);
    }
  }

  &:last-child {
    @include mq(desktop) {
      background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);

      transform-origin: right;
      transform: rotateX(7deg) rotateY(-25deg);
    }
  }

  &:last-child:hover {
    @include mq(desktop) {
      transform: rotateX(0deg) rotateY(5deg);
    }
  }
}

.price__inner-list {
  @include mq(desktop) {
    padding: 30px 20px;
    perspective: 1000px;
  }
}

.price__inner-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq(mobile-only) {
    font-size: 16px;
    line-height: 1.43;
  }

  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;

  margin-bottom: 20px;

  color: #9da4bd;

  &:last-child {
    // margin-bottom: 0;
  }

  &::after {
    content: '';
    flex-grow: 1;
    order: 1;
    height: 1px;
    margin-left: 12px;
    margin-right: 12px;

    background-color: rgba(157, 164, 189, 0.12);
  }
}

.price__inner-item span:last-of-type {
  order: 2;
}

.price__button {
  margin: auto;
  display: block;
}
